<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.photovoltaic.dao.inverter.InverterDataStatisticDAO">


    <!--获取用户所能查看数据的逆变器Id(用户->电站->dtu设备->逆变器设备)-->
    <select id="getUsersInverterIdList" resultType="java.lang.String">
        select T1."ID"
        from GFTW."TS_INVERTER_DEVICE" T1
        where T1."DTU_ID" in ( select "DTU_ID" from  GFTW."TS_DTU_DEVICE"
                                WHERE "POWERSTATION_ID" IN
                                  <foreach collection="powerStationIdList" index="item" item="item" open="(" separator="," close=")">
                                      #{item}
                                  </foreach>
                              )
    </select>

    <!--逆变器设备表字段-->
    <sql id="inverterDeviceColumns">
        T1."ID" as id,
        T1."NAME" as name,
        T1."INVERTER_ADDR" as inverterAddr,
        T1."DTU_ID" as dtuId,
        T1."STATUS" as status,
        T1."INVERTER_TYPE" as inverterType,
        T1."VERSION" as version,
        T1."PHASE_TYPE" as phaseType,
        T1."POWER_SIZE" as powerSize,
        T1."CTIME" as ctime,
        T1."MTIME" as mtime
    </sql>

    <!--获取用户所能查看数据的逆变器(用户->电站->dtu设备->逆变器设备)-->
    <select id="getUsersInverterDeviceList" resultType="com.photovoltaic.model.device.TabInverterDevice">
        select
          <include refid="inverterDeviceColumns"/>
        from GFTW."TS_INVERTER_DEVICE" T1
        where T1."DTU_ID" in ( select "DTU_ID" from  GFTW."TS_DTU_DEVICE"
        WHERE "POWERSTATION_ID" IN
        <foreach collection="powerStationIdList" index="item" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        )
    </select>


    <!--逆变器实时数据表字段-->
    <sql id="inverterRealtimedataColumns">
        T1."ID" as id,
        T1."DTU_ID" as dtuId,
        T1."INVERTER_ADDR" as inverterAddr,
        T1."PV1_VOLTAGE" as pv1Voltage,
        T1."PV2_VOLTAGE" as pv2Voltage,
        T1."PV3_VOLTAGE" as pv3Voltage,
        T1."PV4_VOLTAGE" as pv4Voltage,
        T1."PV1_ELECTRIC_CURRENT" as pv1ElectricCurrent,
        T1."PV2_ELECTRIC_CURRENT" as pv2ElectricCurrent,
        T1."PV3_ELECTRIC_CURRENT" as pv3ElectricCurrent,
        T1."PV4_ELECTRIC_CURRENT" as pv4ElectricCurrent,
        T1."U_PHASE_VOLTAGE" as uPhaseVoltage,
        T1."V_PHASE_VOLTAGE" as vPhaseVoltage,
        T1."W_PHASE_VOLTAGE" as wPhaseVoltage,
        T1."BUS_PHASE_VOLTAGE" as busPhaseVoltage,
        T1."U_PHASE_ELECTRIC_CURRENT" uPhaseElectricCurrent,
        T1."V_PHASE_ELECTRIC_CURRENT" as vPhaseElectricCurrent,
        T1."W_PHASE_ELECTRIC_CURRENT" as wPhaseElectricCurrent,
        T1."BUS_PHASE_ELECTRIC_CURRENT" as busPhaseElectricCurrent,
        T1."GRID_FREQUENCY" as gridFrequency,
        T1."POWER_FACTOR" as powerFactor,
        T1."INPUT_POWER" as inputPower,
        T1."OUTPUT_POWER" as outputPower,
        T1."TEMPERATURE1" as temperature1,
        T1."TEMPERATURE2" as temperature2,
        T1."TEMPERATURE3" as temperature3,
        T1."GROUNDING_RESISTANCE" as groundingResistance,
        T1."LEAKAGE_CURRENT" as leakageCurrent,
        T1."DC_COMPONENT" as dcComponent,
        T1."CTIME" as ctime,
        T1."INVERTER_ID" as inverterId,
        T1."HIGHDATA_INSERT" AS highdataInsert,
        T1."LOWDATA_INSERT" as lowdataInsert
    </sql>

    <!--获取用户所有逆变器的最近一条实时统计数据(当天的)-->
    <select id="getUserLatelyInverterRealtimeDataList" resultType="com.photovoltaic.model.inverterdata.TabInverterRealtimeData">
        SELECT
          <include refid="inverterRealtimedataColumns"/>
        FROM "GFTW"."TS_INVERTER_REALTIMEDATA" T1
        WHERE T1."ID" IN (
            SELECT "MAX"(T2."ID")
            FROM "GFTW"."TS_INVERTER_REALTIMEDATA" t2
            WHERE "TO_CHAR"(T2."CTIME",'YYYYMMDD') = #{toDayDate}
              AND T2."INVERTER_ID" IN
              <foreach collection="inverterIdList" index="item" item="item" open="(" separator="," close=")">
                 #{item}
             </foreach>
             GROUP BY t2."INVERTER_ID"
          )
    </select>


    <!--逆变器今日统计表字段-->
    <sql id="todaySummaryColumns">
        T1."ID" as id,
        T1."DTU_ID" as dtuId,
        T1."INVERTER_ADDR" as inverterAddr,
        T1."GENERATE_CAPACITY" as generateCapacity,
        T1."SAVE_MONEY" as saveMoney,
        T1."CO2_REDUCTION" as co2Reduction,
        T1."DATESTRING" as datestring,
        T1."CTIME" as ctime,
        T1."MTIME" as mtime,
        T1."TOTAL_GENERATE_CAPACITY" as totalGenerateCapacity,
        T1."TOTAL_SAVE_MONEY" as totalSaveMoney,
        T1."TOTAL_CO2_REDUCTION" as totalCo2Reduction,
        T1."REACTIVE_POWER" as reactivePower,
        T1."EXCEPTION1" as exception1,
        T1."EXCEPTION2" as exception2,
        T1."EXCEPTION3" as exception3,
        T1."EXCEPTION4" as exception4,
        T1."EXCEPTION5" as exception5,
        T1."EXCEPTION6" as exception6,
        T1."EXCEPTION7" as exception7,
        T1."EXCEPTION8" as exception8,
        T1."INVERTER_STATUS" as inverterStatus,
        T1."INVERTER_TIME" as inverterTime,
        T1."INVERTER_ID" as inverterId
    </sql>

    <!--获取用户所有逆变器的当天的统计数据-->
    <select id="getUserToDaySummaryList" resultType="com.photovoltaic.model.inverterdata.TabTodaySummary">
        SELECT
          <include refid="todaySummaryColumns"/>
        FROM "GFTW"."TS_TODAY_SUMMARY" T1
        WHERE T1."DATESTRING" = #{toDayDate}
          and T1."INVERTER_ID" IN
            <foreach collection="inverterIdList" index="item" item="item" open="(" separator="," close=")">
              #{item}
            </foreach>
    </select>


    <!--发电站表字段-->
    <sql id="powerStationColumns">
        T1."ID" as id,
        T1."AREA_ID" as areaId,
        T1."NAME" AS name,
        T1."DELETE_MARK" AS deleteMark,
        T1."CREATE_DATE" AS createDate,
        T1."CREATE_USER_ID" AS createUserID,
        T1."CREATE_USER_NAME" as createUserName,
        T1."MODIFY_DATE" as modifyDate,
        T1."MODIFY_USER_ID" as modifyUserID,
        T1."MODIFY_USER_NAME" as modifyUserName,
        T1."REMARK" as remark,
        T1."OWNER_ID" as ownerId
    </sql>


    <!--获取用户所有的电站-->
    <select id="getUsersPowerStationList" resultType="com.photovoltaic.model.powerstation.TabPowerStation">
        SELECT
          <include refid="powerStationColumns"/>
        FROM "GFTW"."TS_POWER_STATION" T1
        WHERE T1."OWNER_ID" = #{userId}
    </select>

</mapper>