<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.photovoltaic.dao.inverter.TodaySummaryDataDAO">


    <!--获取逆变器一段时间内的统计数据-->
    <select id="getInverterInfoMapByTimeInterval" resultType="com.photovoltaic.web.model.out.inveter.InverterInfoDTO">
        SELECT "SUM"(T1."generate_capacity") as generateCapacity,
                "SUM"(T1."total_generate_capacity") as totalGenerationPower,
                "SUM"(T1."inverter_status") as status,
                t1."inverter_id" as inverterId
            FROM "GFTW"."ts_today_summary" t1
        WHERE "TO_CHAR"(T1."ctime",'YYYYMMDD') BETWEEN #{startDate} AND #{endDate}
          AND T1."inverter_id" IN
            <foreach collection="inverterIdList" index="item" item="item" open="(" separator="," close=")">
              #{item}
            </foreach>
        GROUP BY t1."inverter_id"
    </select>


</mapper>