<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.photovoltaic.dao.inverter.TodaySummaryDataDAO">


    <!--获取逆变器一段时间内的统计数据-->
    <select id="getInverterInfoMapByTimeInterval" resultType="com.photovoltaic.web.model.out.inveter.InverterInfoDTO">
        SELECT "SUM"(T1."GENERATE_CAPACITY") as generateCapacity,
                "SUM"(T1."TOTAL_GENERATE_CAPACITY") as totalGenerationPower,
                "SUM"(T1."TOTAL_SAVE_MONEY") as totalSaveMoney,
                "SUM"(T1."TOTAL_CO2_REDUCTION") as totalCO2Reduction,
                "SUM"(T1."INVERTER_STATUS") as status,
                T1."INVERTER_ID" as inverterId
        FROM "GFTW"."TS_TODAY_SUMMARY" T1
        WHERE "TO_CHAR"(T1."CTIME",'YYYYMMDD') BETWEEN #{startDate} AND #{endDate}
          AND T1."INVERTER_ID" IN
            <foreach collection="inverterIdList" index="item" item="item" open="(" separator="," close=")">
              #{item}
            </foreach>
        GROUP BY T1."INVERTER_ID"
    </select>


    <!--获取逆变器日均发电量-->
    <select id="getInverterAvgGenerateCapacityInfo" resultType="com.photovoltaic.web.model.out.inveter.InverterInfoDTO">
        SELECT "AVG"(T1."GENERATE_CAPACITY") as generateCapacity,
                T1."INVERTER_ID" as inverterId
        FROM "GFTW"."TS_TODAY_SUMMARY" T1
        WHERE T1."INVERTER_ID" IN
        <foreach collection="inverterIdList" index="item" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        GROUP BY T1."INVERTER_ID"
    </select>

</mapper>