<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.photovoltaic.dao.user.UserInfoDAO">

    <!--用户信息表字段-->
    <sql id="userInfoColumns">
        T1."ID" as id,
        T1."CODE" as code,
        T1."PASSWORD" as password,
        T1."LOGIN_NAME" as loginName,
        T1."CH_NAME" as chName,
        T1."SEX" as sex,
        T1."TITLE" as title,
        T1."EMAIL" as eMail,
        T1."MOBILE_CODE" as mobileCode,
        T1."SECURITY_QUESTION" as securityQuestion,
        T1."SECURITY_ANSWER" as securityAnswer,
        T1."DELETE_MARK" as deleteMark,
        T1."CREATE_DATE" as createDate,
        T1."CREATE_USER_ID" as createUserID,
        T1."CREATE_USER_NAME" as createUserName,
        T1."MODIFY_DATE" as modifyDate,
        T1."MODIFY_USER_ID" as modifyUserID,
        T1."MODIFY_USER_NAME" as modifyUserName,
        T1."REMARK" as remark,
        T1."LOGIN_SALT" as loginSalt
    </sql>


    <!--根据登录名获取用户信息-->
    <select id="getUserInfoByLoginName" resultType="com.photovoltaic.model.user.TabUserInfo">
        SELECT
          <include refid="userInfoColumns"/>
        FROM "TS_USER_INFO" T1
        <where>
            T1."LOGIN_NAME" = #{loginName}
        </where>
    </select>


    <!--新增用户信息(注册用)-->
    <insert id="addUserInfo" >
        <selectKey resultType="java.lang.Integer" keyProperty="id">
    　　　　SELECT USERINFO_SEQUENCE.CURRVAL FROM DUAL
    　　</selectKey>
        INSERT INTO "GFTW"."TS_USER_INFO" ("ID", "PASSWORD", "LOGIN_NAME", "CREATE_DATE", "MODIFY_DATE", "LOGIN_SALT")
                                  VALUES (userInfo_sequence.nextval, #{password}, #{loginName}, SYSDATE, SYSDATE, #{loginSalt})
    </insert>


    <!--分页查询用户记录-->
    <select id="getUserInfoList" resultType="com.photovoltaic.model.user.TabUserInfo">
        SELECT
          <include refid="userInfoColumns"/>
        FROM "TS_USER_INFO" T1
    </select>


</mapper>