<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.photovoltaic.dao.test.TestDAO">

    <!--获取测试数据列表-->
    <select id="getTestDataList" resultType="com.photovoltaic.model.test.TabTest">
        select "id", "name", "phone","address", "company","note","ctime","mtime" from "ts_test"
    </select>

</mapper>